nav {
    display: flex;
    padding: 0;
    background: blueviolet; /*#764abc*/
}

nav section {
    width: 100%;
}

nav section h1 {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 800px) {
    nav section h1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

nav section h1,
nav section {
    color: white;
}

nav a,
nav a:active {
    font-weight: 700;
    padding: 0.25rem 1.5rem;
    border-radius: 4px;
    color: white !important;
    background: #481499;
}

nav a:first-of-type {
    margin-left: -1.5rem;
}

nav a:hover {
    color: white;
    background: #926bcf;
}

.navContent {
    display: flex;
    justify-content: right;
    align-items: right;
}

.navLinks {
    display: flex;
}

.navLinks a {
    margin-left: 5px;
}

.navLinks a .badge {
    margin-left: 5px;
    position: relative;
    top: -3px;
}

.navLinks :first-child {
    margin-left: 0;
}